#wrapper {
    /*display: none;*/
}

.fragment {
    margin-top: 1em;
    margin-bottom: 1em;
}

#chapter-119 .fragment {
    font-weight: bold;
}

.pictogram {
    font-size: 1.5em;
}

.wj {
    color: red
}

@media (prefers-color-scheme : dark) {
 .wj {
      color: #f88
  }
}