.booktext {
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.verse, .fragment {
    margin-bottom: 1em;
}

.fragment.heading {
    font-weight: bold;
}

.pictogram {
    /*font-size: 1.5em;*/
}

.wj {
    color: red
}

.verse-num, .version-indicator {
    color: #C88D0D; /* colorAccent darkened 20% */
}

@media (prefers-color-scheme : dark) {
   .wj {
        color: #f88
    }
    .verse-num, .version-indicator {
        color: #fbc040 /* same as colorAccent */
    }
}

.ignored-footnote {
    text-decoration: line-through;
}

.add-remove {
    /*text-decoration: none;*/
}