.booktext {
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.verse, .fragment {
    margin-bottom: 1em;
}

.fragment.heading {
    font-weight: bold;
}

.pictogram {
    /*font-size: 1.5em;*/
}

.wj {
    color: red
}

.verse-num, .version-indicator {
    color: #C88D0D; /* colorAccent darkened 20% */
}

@media (prefers-color-scheme : dark) {
   .wj {
        color: #f88
    }
    .verse-num, .version-indicator {
        color: #fbc040 /* same as colorAccent */
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-item {
    width: 50%;
}

.flex-item-inner {
    margin-left: 0.3em;
    margin-right: 0.3em;
    overflow-wrap: break-word;
}
