*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/keystore.properties
/app/src/main/java/com/aaronicsubstances/niv1984/ConfigUtils.java